<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.jiit.minor2.shubhamjoshi.box"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".engine"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.SignUp"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".chooser.Chooser"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".profile.Profile"
            android:theme="@style/Theme.AppCompat.Translucent">
        </activity>
        <activity android:name=".StarterPage">
        </activity>
    </application>

</manifest>
